package api

import "github.com/go-mizu/mizu"

type App struct {
	cfg Config
	app *mizu.App
}

func New(cfg Config) *App {
	a := &App{
		cfg: cfg,
		app: mizu.New(),
	}
	a.routes()
	return a
}

func (a *App) Listen(addr string) error { return a.app.Listen(addr) }
func (a *App) Shutdown() error          { return a.app.Shutdown() }
