# SearXNG settings
# See https://docs.searxng.org/admin/settings/settings.html

use_default_settings: true

general:
  debug: false
  instance_name: "Search Blueprint"
  privacypolicy_url: false
  donation_url: false
  contact_url: false
  enable_metrics: false

search:
  safe_search: 0
  autocomplete: "google"
  default_lang: "en"
  formats:
    - html
    - json

server:
  port: 8080
  bind_address: "0.0.0.0"
  secret_key: "f8d2a9b7c4e1039d5a6f8e2c7b4d1a0e3f6c9b2d5a8e1f4c7b0d3a6e9f2c5b8"
  limiter: false
  image_proxy: true
  http_protocol_version: "1.1"
  method: "GET"

ui:
  static_use_hash: true
  default_locale: "en"
  query_in_title: true
  infinite_scroll: false
  center_alignment: false
  default_theme: "simple"
  theme_args:
    simple_style: "auto"

outgoing:
  request_timeout: 5.0
  max_request_timeout: 15.0
  pool_connections: 100
  pool_maxsize: 20
  enable_http2: true
