{{define "tag.html"}}
{{template "default.html" .}}
{{end}}

{{define "content"}}
<tr>
    <td style="padding:10px">
        <b>tag/{{.Tag.Name}}</b>
        {{if .Tag.Description}}
        <br><span style="color:#828282;font-size:8pt">{{.Tag.Description}}</span>
        {{end}}
    </td>
</tr>
<tr>
    <td>
        <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
        <tbody>
            {{range .Stories}}
                {{template "story_card" .}}
            {{else}}
                <tr>
                    <td colspan="3" style="padding:20px">
                        No stories with this tag yet.
                    </td>
                </tr>
            {{end}}
            <tr class="morespace" style="height:10px"></tr>
            {{if .HasMore}}
            <tr>
                <td colspan="2"></td>
                <td class="title">
                    <a href="?p={{add .Page 1}}" class="morelink" rel="next">More</a>
                </td>
            </tr>
            {{end}}
        </tbody>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table width="100%" cellspacing="0" cellpadding="1">
        <tr>
            <td bgcolor="#ff6600"></td>
        </tr>
        </table>
    </td>
</tr>
</table>
{{end}}
