{{define "content"}}
<div class="repo-header">
    <div class="repo-header-content">
        <div class="repo-header-title">
            <svg class="octicon color-fg-muted mr-2" viewBox="0 0 16 16" width="16" height="16" fill="currentColor">
                {{if .Repo.Private}}
                <path fill-rule="evenodd" d="M4 4a4 4 0 0 1 8 0v2h.25c.966 0 1.75.784 1.75 1.75v5.5A1.75 1.75 0 0 1 12.25 15h-8.5A1.75 1.75 0 0 1 2 13.25v-5.5C2 6.784 2.784 6 3.75 6H4Zm8.25 3.5h-8.5a.25.25 0 0 0-.25.25v5.5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25v-5.5a.25.25 0 0 0-.25-.25ZM10.5 6V4a2.5 2.5 0 1 0-5 0v2Z"/>
                {{else}}
                <path d="M2 2.5A2.5 2.5 0 0 1 4.5 0h8.75a.75.75 0 0 1 .75.75v12.5a.75.75 0 0 1-.75.75h-2.5a.75.75 0 0 1 0-1.5h1.75v-2h-8a1 1 0 0 0-.714 1.7.75.75 0 1 1-1.072 1.05A2.495 2.495 0 0 1 2 11.5Zm10.5-1h-8a1 1 0 0 0-1 1v6.708A2.486 2.486 0 0 1 4.5 9h8ZM5 12.25a.25.25 0 0 1 .25-.25h3.5a.25.25 0 0 1 .25.25v3.25a.25.25 0 0 1-.4.2l-1.45-1.087a.249.249 0 0 0-.3 0L5.4 15.7a.25.25 0 0 1-.4-.2Z"/>
                {{end}}
            </svg>
            <a href="/{{.Repo.Owner.Login}}" class="repo-owner">{{.Repo.Owner.Login}}</a>
            <span class="repo-separator">/</span>
            <a href="/{{.Repo.FullName}}" class="repo-name">{{.Repo.Name}}</a>
            <span class="Label Label--secondary ml-2">{{if .Repo.Private}}Private{{else}}Public{{end}}</span>
        </div>

        {{if .User}}
        <div class="repo-header-actions">
            <div class="BtnGroup">
                <button class="btn btn-sm BtnGroup-item{{if .Repo.IsWatching}} selected{{end}}">
                    <svg class="octicon mr-1" viewBox="0 0 16 16" width="16" height="16" fill="currentColor">
                        <path d="M1.679 7.932c.412-.621 1.242-1.75 2.366-2.717C5.175 4.242 6.527 3.5 8 3.5c1.473 0 2.825.742 3.955 1.715 1.124.967 1.954 2.096 2.366 2.717a.119.119 0 0 1 0 .136c-.412.621-1.242 1.75-2.366 2.717C10.825 11.758 9.473 12.5 8 12.5c-1.473 0-2.825-.742-3.955-1.715C2.921 9.818 2.091 8.69 1.679 8.068a.119.119 0 0 1 0-.136ZM8 2c-1.981 0-3.67.992-4.933 2.078C1.797 5.169.88 6.423.43 7.1a1.619 1.619 0 0 0 0 1.798c.45.678 1.367 1.932 2.637 3.024C4.329 13.008 6.019 14 8 14c1.981 0 3.67-.992 4.933-2.078 1.27-1.091 2.187-2.345 2.637-3.023a1.619 1.619 0 0 0 0-1.798c-.45-.678-1.367-1.932-2.637-3.023C11.671 2.992 9.981 2 8 2Z"/>
                    </svg>
                    Watch
                </button>
                <span class="Counter BtnGroup-item">{{.Repo.WatchersCount}}</span>
            </div>

            <div class="BtnGroup ml-2">
                <button class="btn btn-sm BtnGroup-item{{if .Repo.IsStarred}} selected{{end}}">
                    <svg class="octicon mr-1" viewBox="0 0 16 16" width="16" height="16" fill="currentColor">
                        <path d="M8 .25a.75.75 0 0 1 .673.418l1.882 3.815 4.21.612a.75.75 0 0 1 .416 1.279l-3.046 2.97.719 4.192a.751.751 0 0 1-1.088.791L8 12.347l-3.766 1.98a.75.75 0 0 1-1.088-.79l.72-4.194L.818 6.374a.75.75 0 0 1 .416-1.28l4.21-.611L7.327.668A.75.75 0 0 1 8 .25Z"/>
                    </svg>
                    Star
                </button>
                <span class="Counter BtnGroup-item">{{.Repo.StargazersCount}}</span>
            </div>

            <div class="BtnGroup ml-2">
                <button class="btn btn-sm BtnGroup-item">
                    <svg class="octicon mr-1" viewBox="0 0 16 16" width="16" height="16" fill="currentColor">
                        <path d="M5 5.372v.878c0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75v-.878a2.25 2.25 0 1 1 1.5 0v.878a2.25 2.25 0 0 1-2.25 2.25h-1.5v2.128a2.251 2.251 0 1 1-1.5 0V8.5h-1.5A2.25 2.25 0 0 1 3.5 6.25v-.878a2.25 2.25 0 1 1 1.5 0Z"/>
                    </svg>
                    Fork
                </button>
                <span class="Counter BtnGroup-item">{{.Repo.ForksCount}}</span>
            </div>
        </div>
        {{end}}
    </div>
</div>

<nav class="UnderlineNav">
    <div class="UnderlineNav-body">
        {{range .Repo.Tabs}}
        <a href="{{.URL}}" class="UnderlineNav-item{{if .Active}} selected{{end}}">
            <span>{{.Name}}</span>
            {{if gt .Count 0}}
            <span class="Counter">{{.Count}}</span>
            {{end}}
        </a>
        {{end}}
    </div>
</nav>

<div class="container-xl">
    <div class="Layout Layout--flowRow-until-md mt-4">
        <div class="Layout-main">
            <div class="file-navigation mb-3">
                <div class="d-flex flex-justify-between">
                    <div class="d-flex flex-items-center">
                        <div class="branch-select-menu position-relative">
                            <button class="btn btn-sm mr-2" id="branchSelector">
                                <svg class="octicon mr-1" viewBox="0 0 16 16" width="16" height="16" fill="currentColor">
                                    <path d="M9.5 3.25a2.25 2.25 0 1 1 3 2.122V6A2.5 2.5 0 0 1 10 8.5H6a1 1 0 0 0-1 1v1.128a2.251 2.251 0 1 1-1.5 0V5.372a2.25 2.25 0 1 1 1.5 0v1.836A2.493 2.493 0 0 1 6 7h4a1 1 0 0 0 1-1v-.628A2.25 2.25 0 0 1 9.5 3.25Z"/>
                                </svg>
                                <span>{{.CurrentBranch}}</span>
                                <span class="dropdown-caret"></span>
                            </button>
                            <div class="SelectMenu branch-menu" id="branchMenu" style="display: none;">
                                <div class="SelectMenu-modal">
                                    <header class="SelectMenu-header">
                                        <h3 class="SelectMenu-title">Switch branches/tags</h3>
                                        <button class="SelectMenu-closeButton" type="button" onclick="closeBranchMenu()">×</button>
                                    </header>
                                    <div class="SelectMenu-list">
                                        {{range .Branches}}
                                        <a class="SelectMenu-item{{if eq .Name $.CurrentBranch}} selected{{end}}" href="/{{$.Repo.FullName}}/tree/{{.Name}}">
                                            {{.Name}}
                                        </a>
                                        {{end}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{if .Branches}}
                        <a href="/{{.Repo.FullName}}/branches" class="Link--muted f6 mr-3">
                            <svg class="octicon mr-1" viewBox="0 0 16 16" width="16" height="16" fill="currentColor">
                                <path d="M9.5 3.25a2.25 2.25 0 1 1 3 2.122V6A2.5 2.5 0 0 1 10 8.5H6a1 1 0 0 0-1 1v1.128a2.251 2.251 0 1 1-1.5 0V5.372a2.25 2.25 0 1 1 1.5 0v1.836A2.493 2.493 0 0 1 6 7h4a1 1 0 0 0 1-1v-.628A2.25 2.25 0 0 1 9.5 3.25Z"/>
                            </svg>
                            <strong>{{len .Branches}}</strong> branches
                        </a>
                        {{end}}
                        {{if .CommitCount}}
                        <a href="/{{.Repo.FullName}}/commits/{{.CurrentBranch}}" class="Link--muted f6">
                            <svg class="octicon mr-1" viewBox="0 0 16 16" width="16" height="16" fill="currentColor">
                                <path d="M1.643 3.143.427 1.927A.25.25 0 0 0 0 2.104V5.75c0 .138.112.25.25.25h3.646a.25.25 0 0 0 .177-.427L2.715 4.215a6.5 6.5 0 1 1-1.18 4.458.75.75 0 1 0-1.493.154 8.001 8.001 0 1 0 1.6-5.684ZM7.75 4a.75.75 0 0 1 .75.75v2.992l2.028.812a.75.75 0 0 1-.557 1.392l-2.5-1A.751.751 0 0 1 7 8.25v-3.5A.75.75 0 0 1 7.75 4Z"/>
                            </svg>
                            <strong>{{.CommitCount}}</strong> commits
                        </a>
                        {{end}}
                    </div>

                    <div class="d-flex flex-items-center">
                        <a href="/{{.Repo.FullName}}/find/{{.CurrentBranch}}" class="btn btn-sm mr-2">Go to file</a>
                        <button class="btn btn-sm btn-primary">
                            <svg class="octicon mr-1" viewBox="0 0 16 16" width="16" height="16" fill="currentColor">
                                <path d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z"/>
                                <path d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z"/>
                            </svg>
                            Code
                        </button>
                    </div>
                </div>
            </div>

            {{if .Tree}}
            <div class="Box mb-4">
                {{if .LatestCommit}}
                <div class="Box-header d-flex flex-items-center">
                    <img src="https://avatars.githubusercontent.com/u/0" alt="" class="avatar avatar-user mr-2" width="24" height="24" style="border-radius: 50%;">
                    <a href="/{{.LatestCommit.Author}}" class="text-bold Link--primary mr-2">{{.LatestCommit.Author}}</a>
                    <a href="/{{.Repo.FullName}}/commit/{{.LatestCommit.SHA}}" class="Link--secondary flex-1 text-truncate" title="{{.LatestCommit.Message}}">
                        {{.LatestCommit.MessageTitle}}
                    </a>
                    <a href="/{{.Repo.FullName}}/commit/{{.LatestCommit.SHA}}" class="Link--secondary ml-2 f6" style="font-family: monospace;">
                        {{.LatestCommit.ShortSHA}}
                    </a>
                    <span class="color-fg-muted f6 ml-2">{{.LatestCommit.TimeAgo}}</span>
                </div>
                {{else}}
                <div class="Box-header d-flex flex-items-center">
                    <span class="color-fg-muted f6">Files</span>
                </div>
                {{end}}
                {{range .Tree}}
                <div class="Box-row Box-row--hover-blue d-flex flex-items-center">
                    <svg class="octicon {{if eq .Type "dir"}}color-directory{{else}}color-fg-muted{{end}} mr-3 flex-shrink-0" viewBox="0 0 16 16" width="16" height="16" fill="currentColor">
                        {{if eq .Type "dir"}}
                        <path d="M1.75 1A1.75 1.75 0 0 0 0 2.75v10.5C0 14.216.784 15 1.75 15h12.5A1.75 1.75 0 0 0 16 13.25v-8.5A1.75 1.75 0 0 0 14.25 3H7.5a.25.25 0 0 1-.2-.1l-.9-1.2C6.07 1.26 5.55 1 5 1H1.75Z"/>
                        {{else}}
                        <path d="M2 1.75C2 .784 2.784 0 3.75 0h6.586c.464 0 .909.184 1.237.513l2.914 2.914c.329.328.513.773.513 1.237v9.586A1.75 1.75 0 0 1 13.25 16h-9.5A1.75 1.75 0 0 1 2 14.25Zm1.75-.25a.25.25 0 0 0-.25.25v12.5c0 .138.112.25.25.25h9.5a.25.25 0 0 0 .25-.25V6h-2.75A1.75 1.75 0 0 1 9 4.25V1.5Zm6.75.062V4.25c0 .138.112.25.25.25h2.688Z"/>
                        {{end}}
                    </svg>
                    <a href="/{{$.Repo.FullName}}/{{if eq .Type "dir"}}tree{{else}}blob{{end}}/{{$.CurrentBranch}}/{{.Path}}" class="Link--primary" style="min-width: 180px;">
                        {{.Name}}
                    </a>
                    {{if .LastCommitMessage}}
                    <a href="/{{$.Repo.FullName}}/commit/{{.LastCommitSHA}}" class="Link--secondary flex-1 text-truncate ml-3" title="{{.LastCommitMessage}}">
                        {{.LastCommitMessage}}
                    </a>
                    {{else}}
                    <span class="flex-1"></span>
                    {{end}}
                    {{if .LastCommitDate}}
                    <span class="color-fg-muted f6 text-right text-nowrap ml-3" style="min-width: 100px;">{{.LastCommitDate}}</span>
                    {{end}}
                </div>
                {{end}}
            </div>
            {{end}}

            {{if .Readme}}
            <div class="Box">
                <div class="Box-header d-flex flex-items-center">
                    <svg class="octicon mr-2" viewBox="0 0 16 16" width="16" height="16" fill="currentColor">
                        <path d="M0 1.75A.75.75 0 0 1 .75 1h4.253c1.227 0 2.317.59 3 1.501A3.743 3.743 0 0 1 11.006 1h4.245a.75.75 0 0 1 .75.75v10.5a.75.75 0 0 1-.75.75h-4.507a2.25 2.25 0 0 0-1.591.659l-.622.621a.75.75 0 0 1-1.06 0l-.622-.621A2.25 2.25 0 0 0 5.258 13H.75a.75.75 0 0 1-.75-.75Z"/>
                    </svg>
                    <h2 class="Box-title">README.md</h2>
                </div>
                <div class="Box-body markdown-body p-4">
                    {{.Readme}}
                </div>
            </div>
            {{end}}
        </div>

        <div class="Layout-sidebar">
            <div class="BorderGrid BorderGrid--spacious">
                <div class="BorderGrid-row">
                    <div class="BorderGrid-cell">
                        <h2 class="h4 mb-3">About</h2>
                        {{if .Repo.Description}}
                        <p class="f4 my-3">{{.Repo.Description}}</p>
                        {{else}}
                        <p class="color-fg-muted f6 my-3">No description, website, or topics provided.</p>
                        {{end}}

                        {{if .Repo.Homepage}}
                        <div class="my-3">
                            <a href="{{.Repo.Homepage}}" class="Link--primary text-bold d-flex flex-items-center">
                                <svg class="octicon mr-2" viewBox="0 0 16 16" width="16" height="16" fill="currentColor">
                                    <path d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .75.75 0 0 1 1.06-1.06 2 2 0 0 0 2.83 0l2.5-2.5a2 2 0 0 0-2.83-2.83l-1.25 1.25a.75.75 0 0 1-1.06-1.06Z"/>
                                </svg>
                                {{.Repo.Homepage}}
                            </a>
                        </div>
                        {{end}}

                        {{if .Repo.Topics}}
                        <div class="my-3">
                            {{range .Repo.Topics}}
                            <a href="/topics/{{.}}" class="topic-tag">{{.}}</a>
                            {{end}}
                        </div>
                        {{end}}

                        <div class="mt-3">
                            <a href="/{{.Repo.FullName}}/stargazers" class="Link--secondary d-inline-flex flex-items-center mr-3">
                                <svg class="octicon mr-1" viewBox="0 0 16 16" width="16" height="16" fill="currentColor">
                                    <path d="M8 .25a.75.75 0 0 1 .673.418l1.882 3.815 4.21.612a.75.75 0 0 1 .416 1.279l-3.046 2.97.719 4.192a.751.751 0 0 1-1.088.791L8 12.347l-3.766 1.98a.75.75 0 0 1-1.088-.79l.72-4.194L.818 6.374a.75.75 0 0 1 .416-1.28l4.21-.611L7.327.668A.75.75 0 0 1 8 .25Z"/>
                                </svg>
                                <span class="text-bold">{{.Repo.StargazersCount}}</span> stars
                            </a>
                            <a href="/{{.Repo.FullName}}/watchers" class="Link--secondary d-inline-flex flex-items-center mr-3">
                                <svg class="octicon mr-1" viewBox="0 0 16 16" width="16" height="16" fill="currentColor">
                                    <path d="M8 2c-1.981 0-3.67.992-4.933 2.078C1.797 5.169.88 6.423.43 7.1a1.619 1.619 0 0 0 0 1.798c.45.678 1.367 1.932 2.637 3.024C4.329 13.008 6.019 14 8 14c1.981 0 3.67-.992 4.933-2.078 1.27-1.091 2.187-2.345 2.637-3.023a1.619 1.619 0 0 0 0-1.798c-.45-.678-1.367-1.932-2.637-3.023C11.671 2.992 9.981 2 8 2Z"/>
                                </svg>
                                <span class="text-bold">{{.Repo.WatchersCount}}</span> watching
                            </a>
                            <a href="/{{.Repo.FullName}}/network/members" class="Link--secondary d-inline-flex flex-items-center">
                                <svg class="octicon mr-1" viewBox="0 0 16 16" width="16" height="16" fill="currentColor">
                                    <path d="M5 5.372v.878c0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75v-.878a2.25 2.25 0 1 1 1.5 0v.878a2.25 2.25 0 0 1-2.25 2.25h-1.5v2.128a2.251 2.251 0 1 1-1.5 0V8.5h-1.5A2.25 2.25 0 0 1 3.5 6.25v-.878a2.25 2.25 0 1 1 1.5 0Z"/>
                                </svg>
                                <span class="text-bold">{{.Repo.ForksCount}}</span> forks
                            </a>
                        </div>
                    </div>
                </div>

                {{if .Languages}}
                <div class="BorderGrid-row">
                    <div class="BorderGrid-cell">
                        <h2 class="h4 mb-3">Languages</h2>
                        {{range $lang, $bytes := .Languages}}
                        <span class="d-inline-flex flex-items-center mr-3 mb-1">
                            <span class="repo-language-color" style="background-color: #00ADD8;"></span>
                            <span class="color-fg-default text-bold mr-1">{{$lang}}</span>
                        </span>
                        {{end}}
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</div>

<style>
/* Branch selector dropdown */
.branch-select-menu {
    position: relative;
}

.branch-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    margin-top: 4px;
    min-width: 300px;
}

.SelectMenu-modal {
    background-color: var(--color-canvas-overlay, #fff);
    border: 1px solid var(--color-border-default, #d0d7de);
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(140, 149, 159, 0.2);
    overflow: hidden;
}

.SelectMenu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border-bottom: 1px solid var(--color-border-default, #d0d7de);
    background-color: var(--color-canvas-subtle, #f6f8fa);
}

.SelectMenu-title {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.SelectMenu-closeButton {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: var(--color-fg-muted, #656d76);
}

.SelectMenu-list {
    max-height: 300px;
    overflow-y: auto;
}

.SelectMenu-item {
    display: block;
    padding: 8px 16px;
    color: var(--color-fg-default, #1f2328);
    text-decoration: none;
    border-bottom: 1px solid var(--color-border-muted, #d8dee4);
}

.SelectMenu-item:hover {
    background-color: var(--color-canvas-subtle, #f6f8fa);
}

.SelectMenu-item.selected {
    font-weight: 600;
    background-color: var(--color-accent-subtle, #ddf4ff);
}

.SelectMenu-item:last-child {
    border-bottom: none;
}

/* Text utilities */
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-nowrap {
    white-space: nowrap;
}
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const branchSelector = document.getElementById('branchSelector');
    const branchMenu = document.getElementById('branchMenu');

    if (branchSelector && branchMenu) {
        branchSelector.addEventListener('click', function(e) {
            e.stopPropagation();
            const isVisible = branchMenu.style.display !== 'none';
            branchMenu.style.display = isVisible ? 'none' : 'block';
        });

        document.addEventListener('click', function(e) {
            if (!branchMenu.contains(e.target) && e.target !== branchSelector) {
                branchMenu.style.display = 'none';
            }
        });
    }
});

function closeBranchMenu() {
    const branchMenu = document.getElementById('branchMenu');
    if (branchMenu) {
        branchMenu.style.display = 'none';
    }
}
</script>
{{end}}
