package web

import (
	"io/fs"
	"net/http"
	"os"

	"github.com/go-mizu/mizu"
	"github.com/go-mizu/mizu/view"

	"{{.Module}}/assets"
)

type App struct {
	cfg    Config
	app    *mizu.App
	engine *view.Engine
}

func New(cfg Config) *App {
	a := &App{
		cfg: cfg,
		app: mizu.New(),
	}

	// Setup view engine
	viewCfg := view.Config{
		DefaultLayout: "default",
		Development:   cfg.Dev,
	}

	if !cfg.Dev {
		// Production: use embedded filesystem
		viewsFS, _ := fs.Sub(assets.ViewsFS, "views")
		viewCfg.FS = viewsFS
	} else {
		// Development: use disk filesystem
		viewCfg.Dir = "assets/views"
	}

	a.engine = view.New(viewCfg)

	// Load templates in production
	if !cfg.Dev {
		if err := a.engine.Load(); err != nil {
			panic("failed to load templates: " + err.Error())
		}
	}

	// Add view middleware
	a.app.Use(a.engine.Middleware())

	// Setup routes
	a.routes()

	return a
}

func (a *App) Listen(addr string) error { return a.app.Listen(addr) }

// staticHandler serves embedded static files
func staticHandler(dev bool) http.Handler {
	var staticFS fs.FS
	if dev {
		staticFS = os.DirFS("assets/static")
	} else {
		staticFS, _ = fs.Sub(assets.StaticFS, "static")
	}
	return http.StripPrefix("/static/", http.FileServer(http.FS(staticFS)))
}
