package {{.Package}}

import android.os.Bundle
import androidx.activity.ComponentActivity
import androidx.activity.compose.setContent
import androidx.activity.enableEdgeToEdge
import androidx.compose.foundation.layout.fillMaxSize
import androidx.compose.material3.MaterialTheme
import androidx.compose.material3.Surface
import androidx.compose.runtime.collectAsState
import androidx.compose.runtime.getValue
import androidx.compose.ui.Modifier
import {{.Package}}.runtime.MizuRuntime
import {{.Package}}.ui.screens.HomeScreen
import {{.Package}}.ui.screens.WelcomeScreen
import {{.Package}}.ui.theme.{{.Name}}Theme

class MainActivity : ComponentActivity() {
    override fun onCreate(savedInstanceState: Bundle?) {
        super.onCreate(savedInstanceState)
        enableEdgeToEdge()

        val runtime = MizuRuntime.getInstance(this)

        setContent {
            {{.Name}}Theme {
                Surface(
                    modifier = Modifier.fillMaxSize(),
                    color = MaterialTheme.colorScheme.background
                ) {
                    val isAuthenticated by runtime.isAuthenticated.collectAsState()

                    if (isAuthenticated) {
                        HomeScreen()
                    } else {
                        WelcomeScreen()
                    }
                }
            }
        }
    }
}
