{{ define "partials/author-box.html" }}
{{ if .Author }}
<div class="author-box">
    <!-- Avatar -->
    <div class="author-box__avatar">
        {{ if .Author.AvatarURL }}
        <img src="{{ .Author.AvatarURL }}" alt="{{ .Author.Name }}" loading="lazy">
        {{ else }}
        <div style="width: 100%; height: 100%; background: var(--color-surface-alt); display: flex; align-items: center; justify-content: center; font-size: 32px;">
            &#128100;
        </div>
        {{ end }}
    </div>

    <!-- Info -->
    <div class="author-box__info">
        <h4 class="author-box__name">
            <a href="/author/{{ .Author.Slug }}">{{ .Author.Name }}</a>
        </h4>

        {{ if .Author.Bio }}
        <p class="author-box__bio">{{ .Author.Bio }}</p>
        {{ end }}

        <!-- View All Posts -->
        <div class="author-box__links">
            <a href="/author/{{ .Author.Slug }}" class="btn btn--ghost btn--sm">
                View All Posts
            </a>
        </div>
    </div>
</div>
{{ end }}
{{ end }}
