{{define "post_card"}}
<div class="post-card {{if gt .Depth 0}}post-card--nested{{end}}" style="{{if gt .Depth 0}}--depth: {{.Depth}};{{end}}" data-post-id="{{.ID}}">
    <div class="post-card__vote">
        {{template "vote_controls" (dict "Type" "post" "ID" .ID "Score" .Score "UserVote" .UserVote "User" $.User)}}
    </div>
    <div class="post-card__content">
        <div class="post-card__header">
            <a href="/u/{{.Account.Username}}" class="post-card__author">{{.Account.Username}}</a>
            {{if .IsBest}}
            <span class="badge badge--mod">Best Answer</span>
            {{end}}
            <span class="post-card__timestamp">
                {{if .EditedAt}}
                edited {{.EditedAt.Format "2 Jan 15:04"}}
                {{else}}
                {{.CreatedAt.Format "2 Jan 15:04"}}
                {{end}}
            </span>
        </div>

        <div class="post-card__body">
            {{.Content}}
        </div>

        <div class="post-card__actions">
            {{if $.User}}
            <a href="#" class="post-card__action" data-action="reply" data-post-id="{{.ID}}">Reply</a>
            {{if .IsOwner}}
            <a href="#" class="post-card__action" data-action="edit" data-post-id="{{.ID}}">Edit</a>
            <a href="#" class="post-card__action" data-action="delete" data-post-id="{{.ID}}">Delete</a>
            {{end}}
            <a href="#" class="post-card__action" data-action="save" data-post-id="{{.ID}}">
                {{if .IsSaved}}Unsave{{else}}Save{{end}}
            </a>
            {{else}}
            <a href="/login" class="post-card__action">Login to reply</a>
            {{end}}
            <a href="#" class="post-card__action" data-action="report" data-post-id="{{.ID}}">Report</a>
        </div>

        {{if .Children}}
        <div class="post-card__children" style="margin-top: var(--space-4);">
            {{range .Children}}
                {{template "post_card" (dict "ID" .ID "Account" .Account "Content" .Content "Score" .Score "UserVote" .UserVote "Depth" .Depth "CreatedAt" .CreatedAt "EditedAt" .EditedAt "IsBest" .IsBest "IsOwner" .IsOwner "IsSaved" .IsSaved "Children" .Children "User" $.User)}}
            {{end}}
        </div>
        {{end}}
    </div>
</div>
{{end}}
