{{define "message.html"}}
<div class="message" data-message-id="{{.ID}}">
    <div class="message-avatar">
        {{if .Author.AvatarURL}}
            <img src="{{.Author.AvatarURL}}" alt="{{.Author.DisplayName}}">
        {{else}}
            <span>{{userInitials .Author.DisplayName}}</span>
        {{end}}
    </div>
    <div class="message-content">
        <div class="message-header">
            <span class="message-author">{{.Author.DisplayName}}</span>
            <span class="message-timestamp">{{formatTimestamp .CreatedAt}}</span>
            {{if .IsEdited}}
            <span class="message-edited">(edited)</span>
            {{end}}
        </div>
        <div class="message-body">
            {{if .ContentHTML}}
                {{safeHTML .ContentHTML}}
            {{else}}
                {{.Content}}
            {{end}}
        </div>
        {{if .Reactions}}
        <div class="message-reactions">
            {{range .Reactions}}
            <button class="reaction{{if .Me}} me{{end}}" data-emoji="{{.Emoji}}">
                <span class="reaction-emoji">{{.Emoji}}</span>
                <span class="reaction-count">{{.Count}}</span>
            </button>
            {{end}}
        </div>
        {{end}}
    </div>
    <div class="message-actions">
        <button class="message-action" title="Add Reaction" data-action="react">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                <path d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8zm3.5-9c.828 0 1.5-.672 1.5-1.5S16.328 8 15.5 8 14 8.672 14 9.5s.672 1.5 1.5 1.5zm-7 0c.828 0 1.5-.672 1.5-1.5S9.328 8 8.5 8 7 8.672 7 9.5 7.672 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z"/>
            </svg>
        </button>
        <button class="message-action" title="Reply" data-action="reply">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                <path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/>
            </svg>
        </button>
        <button class="message-action" title="More" data-action="more">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
            </svg>
        </button>
    </div>
</div>
{{end}}

{{define "message_compact"}}
<div class="message compact" data-message-id="{{.ID}}">
    <span class="message-timestamp-compact">{{.CreatedAt.Format "3:04 PM"}}</span>
    <div class="message-body">
        {{if .ContentHTML}}
            {{safeHTML .ContentHTML}}
        {{else}}
            {{.Content}}
        {{end}}
    </div>
</div>
{{end}}
