{{define "home.html"}}
{{template "default.html" .}}
{{end}}

{{define "content"}}
<div class="vb-box">
    <div class="vb-box-header">
        Forum Home - Browse All Discussions
    </div>
    <div class="vb-box-content">
        Welcome to the forum! Browse discussions from all communities below.
    </div>
</div>

<div class="menuarea">
    <ul class="tabmenu">
        <li class="{{if eq .Data.Sort "hot"}}selected{{end}}"><a href="/?sort=hot">Hot Threads</a></li>
        <li class="{{if eq .Data.Sort "new"}}selected{{end}}"><a href="/?sort=new">New Posts</a></li>
        <li class="{{if eq .Data.Sort "rising"}}selected{{end}}"><a href="/?sort=rising">Rising</a></li>
        <li class="{{if eq .Data.Sort "top"}}selected{{end}}"><a href="/?sort=top">Top</a></li>
    </ul>
</div>

<div class="sitetable linklisting" id="siteTable">
    <table class="forum-table">
        <thead>
            <tr>
                <th style="width: 50px;"></th>
                <th>Thread / Thread Starter</th>
                <th style="width: 80px; text-align: center;">Replies</th>
                <th style="width: 80px; text-align: center;">Points</th>
                <th style="width: 140px;">Last Post</th>
            </tr>
        </thead>
        <tbody>
            {{range $i, $thread := .Data.Threads}}
            <tr data-thread-id="{{$thread.ID}}">
                <td style="text-align: center;">
                    <div class="midcol unvoted">
                        <div class="arrow up {{if eq $thread.Vote 1}}upmod{{else}}login-required{{end}}" data-action="upvote" data-thread="{{$thread.ID}}" role="button" tabindex="0"></div>
                        <div class="arrow down {{if eq $thread.Vote -1}}downmod{{else}}login-required{{end}}" data-action="downvote" data-thread="{{$thread.ID}}" role="button" tabindex="0"></div>
                    </div>
                </td>
                <td>
                    {{if or $thread.IsPinned $thread.IsLocked $thread.IsNSFW}}
                    <span>
                        {{if $thread.IsPinned}}<span class="flair pinned">Sticky</span>{{end}}
                        {{if $thread.IsLocked}}<span class="flair locked">Closed</span>{{end}}
                        {{if $thread.IsNSFW}}<span class="flair nsfw">NSFW</span>{{end}}
                    </span>
                    {{end}}
                    <a href="/b/{{if $thread.Board}}{{$thread.Board.Name}}{{else}}all{{end}}/{{$thread.ID}}/{{slugify $thread.Title}}" style="font-weight: bold;">{{$thread.Title}}</a>
                    {{if eq $thread.Type "link"}}
                    <span class="domain">(<a href="/search?q=site:{{$thread.Domain}}">{{$thread.Domain}}</a>)</span>
                    {{end}}
                    <br>
                    <span style="font-size: 10px; color: #808080;">
                        Started by
                        {{if $thread.Author}}
                        <a href="/u/{{$thread.Author.Username}}">{{$thread.Author.Username}}</a>
                        {{else}}
                        [deleted]
                        {{end}}
                        in
                        {{if $thread.Board}}
                        <a href="/b/{{$thread.Board.Name}}" style="color: #ff6600;">{{$thread.Board.Name}}</a>
                        {{end}}
                    </span>
                </td>
                <td style="text-align: center; font-weight: bold; color: #22229c;">{{$thread.CommentCount}}</td>
                <td style="text-align: center; font-weight: bold; color: #22229c;">{{formatScore $thread.Score}}</td>
                <td style="font-size: 10px; color: #808080;">
                    {{formatTimeRelative $thread.CreatedAt}}
                    {{if $thread.Author}}
                    <br>by <a href="/u/{{$thread.Author.Username}}">{{$thread.Author.Username}}</a>
                    {{end}}
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="noresults">There are no threads to display.</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>

<div class="nav-buttons">
    <span class="nextprev">
        <a href="/?after=25">Next Page &raquo;</a>
    </span>
</div>

{{if .Data.PopularBoards}}
<div class="vb-box" style="margin-top: 15px;">
    <div class="vb-box-header">
        Popular Forums
    </div>
    <div class="vb-box-content">
        {{range .Data.PopularBoards}}
        <a href="/b/{{.Name}}" style="margin-right: 15px;">{{.Name}}</a> ({{formatNumber .MemberCount}} members)
        {{end}}
    </div>
</div>
{{end}}
{{end}}
